---
title: Justice Edward Smith
description: Texas 3rd Court of Appeals, Place 2
image: "/assets/images/edward-smith-hero-image-bw-color.webp"
layout: default
fullscreen_header: true
---

{% include swiper.html %}

<section id="about" class="pb-lg-12 py-8">
    <div class="container">
        <div class="row offset-md-1">
            <div class="col col-md-11">
                <div class="mb-5 text-center">
                    <h2 class="h1 mb-3">About Edward Smith</h2>
                    <p>The candidate</p>
                </div>
            </div>
        </div>
        <div class="row offset-md-1">
            <div class="col col-md-11 clearfix">
                <img class="rounded col-md-5 float-md-end mb-3 ms-md-3 img-fluid" src="assets/images/edward-smith-headshot.jpg" alt="Edward Smith Headshot">
                <p>
                    I was <b>elected in 2018</b> and have been serving as a justice on the Third Court of Appeals since January 1, 2019. In that time I have dedicated myself to being a <b>fair and impartial</b> member of the court. Serving the people of the 24 counties that make up the court’s jurisdiction is an <b>important responsibility</b> and has been an honor and a privilege. I work hard at ensuring my docket moves forward and that matters are given the attention they deserve.
                </p>
                <p>In addition to my work on the court I enjoy being active in the community. Some of the community activities I have been involved with include:</p>
                <ul>
                    <li>
                        <b>mentoring</b> young professionals, high school, college, and law students</li>
                    <li>giving back to the legal community by <b>sharing my knowledge and expertise</b> as a speaker at many continuing legal education conferences</li>
                    <li>member of the Barbra Jordan Inn of Court which is an organization that provides <b>community building, education and professional development</b>
                    </li>
                </ul>
                <p>I have also <b>supported and volunteered</b> with many local organizations such as, Austin ISD schools, Austin Parks Foundation, ministries at University United Methodist Church and Community First! Village.</p>
                <p>I am married to Casey Smith and we have three very active children. I continue to try my family’s patience with my banjo playing. You can also find me out at local baseball fields such as Govalle Park in Austin where I am a member of the sandlot baseball team, East Austin Jardineros. GO JARDS!</p>
                <p>Quick Facts</p>
                <ul>
                    <li>
                        <b>Age:</b> 44</li>
                    <li>
                        <b>Education:</b> Juris Doctor (JD) Texas Wesleyan School of Law (Texas A&M University School of Law)</li>
                    <li>
                        <b>Hometown:</b> Austin</li>
                    <li>
                        <b>Other:</b> Connoisseur of dad jokes</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="faq" class="pb-lg-12 py-8">
    <div class="container">
        <div class="row offset-md-1">
            <div class="col col-md-11">
                <div class="mb-8 text-center">
                    <h2 class="mb-3 h1">FAQ</h2>
                    <p class="lead">You asked, I answered</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row offset-md-1">
            <div class="col col-md-11">
                {% assign data = site.data.faqs %}
                {% include faqs.html %}
            </div>
        </div>
    </div>
</section>

<section id="contact" class="pb-lg-12 py-8 bg-light">
    <div class="container">
        <div class="row offset-md-1">
            <div class="col col-md-11">
                <div class="mb-8 text-center">
                    <h2 class="mb-3 h1">Contact</h2>
                    <p class="lead">Get involved with the campaign.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row offset-md-1">
            <div class="col col-md-11">
                <form class="row">
                    <div class=" col-md-6 col-12 mb-3">
                        <label for="fname" class="sr-only">First Name</label>
                        <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname" required="">
                    </div>
                    <div class=" col-md-6 col-12 mb-3">
                        <label for="lname" class="sr-only">Last Name</label>
                        <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname" required="">
                    </div>
                    <div class=" col-12 mb-3">
                        <label for="email" class="sr-only"> Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="">
                    </div>
                    <div class="mb-3 col-12 mb-3">
                        <label for="purpose" class="sr-only">Purpose</label>
                        <select class="form-select" id="purpose">
                            <option selected="">Select Purpose</option>
                            <option value="1">I want to volunteer</option>
                            <option value="2">I want to invite you to speak at or attend an event</option>
                            <option value="3">I have general questions about the camapign</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">
                                Send Messages
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>