<!-- Modal -->
<div class="modal fade" id="gameModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content border-0 bg-hero-animated-gradiant">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-5">

        <div class="d-flex align-items-center">
          <div class="container min-vh-50">
            <div class="row">
              <div class="offset-lg-2 col-12 col-lg-8">

                <h1 class="mb-2 text-white">Hidden game</h1>
                <p class="mb-4 text-white">You found it!</p>

                <img src="{{ '/assets/images/hidden-game.png' | absolute_url }}" class="img-fluid">

                <!-- cta buttons -->
                <div class="d-grid gap-2 mt-3 pt-3 border-top">
                  <a data-bs-toggle="modal" data-bs-target="#gameModal" href="https://donateway.com/donate/r9UYWfJc/smith-for-justice/payment" class="btn btn-large btn-outline-white w-100 outbound" target="_blank">
                    <i class="fa-regular fa-credit-card"></i> Donate</a>
                  <a href="#" class="btn btn-large btn-outline-white w-100 outbound" data-bs-toggle="modal" data-bs-target="#gameModal">
                    <i class="fa-solid fa-users"></i> Volunteer</a>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>