<!-- Footer -->
<footer class="footer pt-3 pb-12 bg-primary text-white">
  <div class="container text-center">
    <div class="row offset-md-1">
      <div class="col col-md-11">
        <ul class="list-inline">
          {% for item in site.data.navbar %}
            <li class="list-inline-item">
              <a href="{{ item.href }}" class="text-white">{{ item.name }}</a>
            </li>
          {% endfor %}
            <li class="list-inline-item">
              <a href="{{ '/privacy-policy/' | absolute_url }}" class="text-white" rel="nofollow, noindex">Privacy Policy</a>
            </li>
        </ul>
        <p class="p-2 border border-white">Political advertising paid for by the Edward Smith Campaign in compliance with the voluntary limits of the Judicial Campaign Fairness Act.</p>
        <p>P.O. Box 650085, Austin, Texas 78765</p>
        <p>Copyright &copy; {{ 'now' | date: "%Y" }} Edward Smith Campaign - All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>