<!-- Modal -->
<div class="modal fade" id="donateModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-fullscreen">
    <div class="modal-content border-0">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-5">
        <iframe src="https://smithforjustice.givingfuel.com/preview/b29411db48564ec1b8e556b1343f03bc" width="100%" height="600px" scrolling="yes" frameborder="0" border="0"></iframe>
      </div>
    </div>
  </div>
</div>