<!-- Contact Modal -->
<div class="modal fade" id="gameModal1" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="gameModal2Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content border-0 bg-hero-animated-gradiant">
      <div class="modal-header border-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body pb-5">

        <div class="d-flex align-items-center">
          <div class="container min-vh-50">
            <div class="row">
              <div class="offset-lg-2 col-12 col-lg-8 text-center bg-white p-5">

                <!-- show this on mobile screens -->
                <div id="mobile-message" class="d-md-none">
                  <h2>You did it!</h2>
                  <p class="lead">You've found the easter egg!</p>
                  <p>To play the game, please visit this secret page from a device with a larger screen, such as a laptop or desktop computer.</p>
                  <p>In the meantime, please consider making a donation to the campaign by clicking the button below.</p>
                  <!-- bottom bar -->
                  <div class="bg-white py-2">
                    <div class="container">
                      <div class="d-flex gap-2">
                        <a href="#" class="btn btn-large btn-primary w-100 outbound" data-bs-toggle="modal" data-bs-target="#donateModal">
                          <i class="fa-regular fa-credit-card"></i> Donate</a>
                      </div>
                      <p class="my-1 text-muted small text-center">Credit and debit cards accepted</p>
                    </div>
                  </div>
                </div>

                <!-- show this on larger screens -->
                <div class="d-none d-md-block">

                  <!-- contact form to access the game -->
                  <div id="contact-form" class="d-none">
                    <h2>You did it!</h2>
                    <p class="lead">You've found the easter egg!</p>
                    <p>To play a game, please fill out the contact form below.</p>
                    <form
                    method="POST"
                    action="https://script.google.com/macros/s/AKfycbwxIy_Zk8Fj-0KagJop_JZ4Jgy0nrdcjBClJax4BG9C-JilkhFM0--w8hV7G5Zaj2zq/exec"
                    id="gameModalForm">

                      <!-- Required fields -->
                      <div class="row">
                        <div class="col-md-6 col-12 mb-3">
                          <label for="fname" class="sr-only">First Name</label>
                          <input type="text" class="form-control" id="fname" placeholder="First Name" name="fname" required="">
                        </div>
                        <div class="col-md-6 col-12 mb-3">
                          <label for="lname" class="sr-only">Last Name</label>
                          <input type="text" class="form-control" id="lname" placeholder="Last Name" name="lname" required="">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 mb-3">
                          <label for="email" class="sr-only"> Email</label>
                          <input type="email" class="form-control" id="email" placeholder="Email" name="email" required="">
                        </div>
                      </div>

                      <!-- Purpose selector -->
                      <input class="d-none" type="text" class="form-control" id="purpose" name="purpose" value="I found the game!">

                      <!-- Add a message to the campaign  -->
                      <div class="mb-3 col-12">
                        <label class="form-label" for="message">Send a message to the campaign.</label>
                        <textarea class="form-control" id="message" rows="3" name="message"></textarea>
                      </div>

                      <!-- Submit -->
                      <div class="col-12">
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary">Send Message and Play Game</button>
                        </div>
                      </div>

                    </form>
                  </div>

                  <!-- on larger screens show the game -->
                  <div id="game" class="">
                    <h2>Thanks!</h2>
                    <p class="lead">Have fun with this little game!</p>
                    <div class="flex">
                      {% include game-tictactoe.html %}
                    </div>
                    <!-- bottom bar -->
                    <div class="bg-white py-2">
                      <div class="container">
                        <div class="d-flex gap-2">
                          <a href="#" class="btn btn-large btn-primary w-100 outbound" data-bs-toggle="modal" data-bs-target="#donateModal">
                            <i class="fa-regular fa-credit-card"></i> Donate</a>
                        </div>
                        <p class="my-1 text-muted small text-center">Credit and debit cards accepted</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", function () {
    const form = document.getElementById('gameModalForm');
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const data = new FormData(form);
      const action = e.target.action;
      fetch(action, {
        method: 'POST',
        body: data
      })
        .then(response => response.json())
        .then(data => {
          if (data.result === "success") {
            // Hide contact form and show game
            document
              .getElementById('contact-form')
              .classList
              .add('d-none');
            document
              .getElementById('game')
              .classList
              .remove('d-none');
          } else {
            // Optionally handle server-side error (e.g., show an error message)
            console.error('Server-side error:', data);
          }
        })
        .catch(error => {
          // Handle network error (e.g., show an error message)
          console.error('Network error:', error);
        });
    });
  });
</script>