<section id="swiper-content" class="pt-lg-14 py-8 bg-primary">
    <div class="container-lg px-0">
        <link href="{{ 'swiper-bundle.min.css' | prepend: '/assets/css/' | absolute_url }}" rel="stylesheet">
        <div class="swiper">
            <div class="swiper-wrapper">
                {% assign data = site.data.swiper %}
                {% for item in data limit : 20 %}
                    <div class="swiper-slide">
                        {% if item.easteregg == true %}
                            <a href="#" data-bs-toggle="modal" data-bs-target="#gameModal1">
                            {% else %}
                                <li>
                                {% endif %}
                                <img src="{{ item.image_path | absolute_url }}" class="img-fluid{% if item.easteregg == true %} border border-warning border-3{% endif %}">
                                {% if item.easteregg == true %}
                                </a>
                            {% else %}
                            </li>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- Swiper JS -->
        <script src="{{ 'swiper-bundle.min.js' | prepend: '/assets/js/' | absolute_url }}"></script>

        <!-- Initialize Swiper -->
        <script>
            const swiper = new Swiper('.swiper', {



                loop: true,
                autoplay: {
                    delay: 1,
                    disableOnInteraction: false
                },
                speed: 5000,
                freeMode: true,
                direction: 'horizontal',
                spaceBetween: 20,
                centeredSlides: false,
                breakpoints: {
                    1: {
                        slidesPerView: 1.3
                    },
                    540: {
                        slidesPerView: 1.8
                    },
                    720: {
                        slidesPerView: 2.5
                    },
                    960: {
                        slidesPerView: 3.4
                    },
                    1140: {
                        slidesPerView: 4
                    },
                    1320: {
                        slidesPerView: 4.5
                    }
                }
            });
        </script>
    </div>
    <div class="d-flex pt-8">
        <a href="https://www.instagram.com/smith4justice/" class="btn btn-outline-white mx-auto" target="_blank">
            <i class="fa-brands fa-instagram"></i> Follow on Instagram
        </a>
    </div>
</section>