//
// user.scss
// Use this to write your custom SCSS
//

.bg-hero-animated-gradiant {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.loaderz {
  width: 60px;
  height: 40px;
  position: relative;
  display: inline-block;
  --base-color: #fff;
  /*use your base color*/
}
.loaderz::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #23a6d5;
  background-image: radial-gradient(circle 8px at 18px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 0px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 36px 18px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 18px 36px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 5px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 30px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 30px, var(--base-color) 100%, transparent 0), radial-gradient(circle 4px at 5px 5px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}
.loaderz::after {
  content: "";
  left: 35px;
  top: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e73c7e;
  background-image: radial-gradient(circle 5px at 12px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 0px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 0px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 24px 12px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 12px 24px, var(--base-color) 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 3px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 20px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 20px, var(--base-color) 100%, transparent 0), radial-gradient(circle 2.5px at 3px 3px, var(--base-color) 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.vh-50 {
  height: 50vh !important;
}
.min-vh-50 {
  min-height: 50vh !important;
}
.vh-75 {
  height: 75vh !important;
}
.min-vh-75 {
  min-height: 75vh !important;
}

// .carousel-inner {
//   padding: 1em;
// }
// .card {
//   margin: 0 0.5em;
//   box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
//   border: none;
// }
// .carousel-control-prev,
// .carousel-control-next {
//   background-color: #e1e1e1;
//   width: 6vh;
//   height: 6vh;
//   border-radius: 50%;
//   top: 50%;
//   transform: translateY(-50%);
// }
@media (min-width: 768px) {
  .carousel-item {
    // margin-right: 0;
    flex: 0 0 25%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
// .card .img-wrapper {
//   max-width: 100%;
//   height: 13em;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
// .card img {
//   max-height: 100%;
// }
// @media (max-width: 767px) {
//   .card .img-wrapper {
//     height: 17em;
//   }
// }
