---
title: Articles
description: Explore our blog.
image: '/assets/images/bg-contact.jpg'
---

<div class="py-lg-12 py-10">
    <div class="container">
        <div class="row">
            {% for post in paginator.posts %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="mb-8">
                        <!-- post classic block -->
                        <div class="mb-4">
                            <a href="{{ post.url | absolute_url }}">
                                <div class="img-zoom">
                                    <img src="{{ post.image }}" alt="Featured image for {{ post.title }}" class="img-fluid rounded">
                                </div>
                            </a>
                        </div>
                        <div>
                            <span class="text-info mb-3 font-14 d-inline-block font-weight-semi-bold">{% include read_time.html content = post.content %}</span>
                            <a href="{{ post.url | absolute_url }}">
                                <h3 class="mb-3">{{ post.title }}</h3>
                            </a>
                            <div class="mb-3">
                                <div class="font-14">
                                    <span class="mr-2">{{ post.date | date: '%B %d, %Y' }}</span>
                                    <span>{{ site.author }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>